body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
    color: tomato;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

p {
    text-align: center;
}

.top-banner {
    background-image: url(images/donation0.jpg);

    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
}


.button-deco {
    background-color: tomato;
    color: white;
    border: 0;
    font-weight: 24px;
    padding: 10px 40px;
    border-radius: 5px;
}

.input-field {
    background-color: burlywood;
    padding: 10px 40px;
    text-align: center;
    font-size: 24px;
}

.subscribe-button {
    background-color: tomato;
    color: white;
    border: 0;
    font-weight: 24px;
    padding: 10px 40px;
    border-radius: 5px;
}

footer {
    background-color: black;
}

footer h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: salmon;
    font-size: 30px;
    padding-top: 20px;
}

footer p {
    color: white;
    padding-bottom: 20px;
}