body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

p {
    text-align: center;
}

.top-banner {
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.head-part {
    text-align: center;
    width: 50%;
    margin: auto 0px;
}


.button-deco {
    background-color: tomato;
    color: white;
    border: 0;
    font-weight: 24px;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;

}

.plans {
    padding: 80px;
    display: flex;
    margin: 20px;
}

.donate {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    background-color: aliceblue;
}

#clicked-donate {
    border: 2px solid tomato;
    color: tomato;
    background-color: lightpink;
}

.mail-input {
    border: none;
    border-bottom: 2px solid gray;
}

.individual-plans {
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.back-color1 {
    background-color: lightcyan;
}

.back-color2 {
    background-color: khaki;
}

.back-color3 {
    background-color: rosybrown;
}

.input-field {
    background-color: burlywood;
    padding: 10px 40px;
    text-align: center;
    font-size: 24px;
}

footer {
    background-color: black;
}

footer h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: salmon;
    font-size: 30px;
    padding-top: 20px;
}

footer p {
    color: white;
    padding-bottom: 20px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}